.dynamic-txts {
    color: gray;
}

.wrapper Button {
    height: 100px;
    width: 400px;
    font-size: 30px;
    border: 0;
    background-color: gold;
    border-radius: 0px;

    outline: 2px solid goldenrod;
    outline-offset: 7px;

}